<div class="continer">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
       <div class="card mt-4 bg-dark">
        <h1 class="d-flex justify-content-md-center bg-info text-white">Routine App</h1>
        <div class="card-body">
          <div class="input-group mb-3">
            <input type="text" name="" id="" class="form-control" placeholder="Enter Task" [(ngModel)]="newRoutine">
            <button class="btn btn-outline-secondary btn-info text-white" (click)="saveRoutine()">Add New</button>
          </div>
          <table class="table table-striped mt-3">
            <tbody>
              <tr *ngFor="let r of routines; let i = index;">
                <th scope="row">{{i+1}}</th>
                <td class="{{(!r.iscompleted)?'done':''}}" (click)="done(i)">{{r.name}}</td>
                <td class="text-danger" style="font-weight:bold;" (click)="remove(i)">×</td>
              </tr> 
              </tbody> 
          </table>
        </div>
        
       </div>
    </div>
  </div>
</div>

